/*
 * Customizations to the default bootstrap stylesheet
 *
 * Author: Garrett Gregory
 */

 body {
  background-color: #fffff0; /* light tan */
}

.jumbotron {
  background-color: #66bb6a; /* green */
}

.card {
  background-color: #fffff0;
  border: 0px solid #66bb6a; /* green */
  border-radius: 0.25rem;
}

.img-rounded {
  border-radius: calc(0.4rem - 1px);
}

.with-margin {
  margin-bottom: 50px;
}

.with-margin-sm {
  margin-bottom: 25px;
}

.text-green {
  color: #2f6a32 !important;
}

.text-green-muted {
  color: #479e4c !important;
}

.text-gray {
  color: #616360 !important;
}

.card-link {
  position: absolute;
  top: 0; left: 0;
  height: 100%; width: 100%;
}

.footer a {
  color: #70726F;
  font-size: 30px;
  padding: 10px;
}

.footer a:hover {
  color: #66bb6a;
}
